body {
    display: flex;
    justify-content: center;
}

fieldset {
    border: none;
    /* justify-content: space-between; */
}

img {
    height: 15px;
}

#profil {
    border-top: 0.5rem black solid;
}

legend {
    font-weight: 800;
}

form {
    position: relative;
}

#submitbutton {
    background-color: red;
    color: white;
    border-radius: 10%;
    padding: 2% 8%;
    position: absolute;
    right: 10px;
}
input{
    /* align-items: flex-end; */
    border: none;
    border-bottom: 1px solid rgb(55, 54, 54);
}
#telephone #email1 #firma {
    border-bottom: 5px solid black;
}